<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Initial Catalog=SmartTrader;Data Source=localhost;Integrated Security=SSPI;"/>
    <add key="ClassificationBenchmark" value="20" />
    <add key="PositiveTrendThreshold" value="0.5" />    
    <add key="GeneticNeuroModelDefaultPopulation" value="100" />
    <add key="MaxTrainingIterations" value="10" />
    <add key="SigmoidAlphaValue" value="2" />
    <add key="LearningRate" value="0.1" />    
    <add key="Momentum" value="0.001" />    
    <add key="AutoStopRatio" value="0.8" />   
    
  </appSettings>
</configuration>