
SELECT '[' + CAST(FID AS varchar(10)) + '],'
FROM dbo.tb_Factor WHERE FID BETWEEN 1000 AND 2000 
ORDER BY FID
FOR XML PATH('')

ALTER TABLE dbo.tb_PivotFactorData DROP COLUMN [1001],[1002],[1003],[1004],[1005],[1006],[1007],[1008],[1009],[1010],[1011],[1012],[1013],[1014],[1015],[1016],[1017],[1018],[1019],[1020],[1021],[1022],[1023],[1024],[1025],[1026],[1027],[1028],[1029],[1030],[1031],[1032],[1033],[1034],[1035],[1036],[1037],[1038],[1039],[1040],[1041],[1042],[1043],[1044],[1045]
